<% threads.forEach(function(thread) { %>
<li class="thread-list-item"
    data-board-key="<%= thread.boardKey %>"
    data-thread-key="<%= thread.threadKey %>">
  <div class="number"><%= thread.number %></div>
  <div class="thread-title"><%= thread.title %></div>
  <div class="momentum"><%= thread.momentum %></div>
  <div class="res-count"><%= thread.commentCount %></div>
</li>
<% }); %>
