<% comments.forEach(function(comment) { %>
<li class="comment" data-comment-id="<%= comment.id() %>">
  <span class="res-no"><%= comment.number %></span>
  <span class="name"><b><%= comment.name %></b></span>
  <span class="timestamp"><%= comment.createdAt %></span>
  <% if (comment.authorId) { %>
  <span class="author-id-label">ID</span>
  <span class="author-id"><%= comment.authorId %></span>
  <% } %>
  <div class="body"><%= comment.replacedBody() %></div>
</li>
<% }); %>

